DB_HOST="172.27.208.1"
DB_USER="roster_monster_user"
DB_PASSWORD="redhat"
DB_PORT="3306"
DB_NAME="roster_monster_db"
SECRET_KEY="s0meSecretKEy"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=1
DATABASE_URL="mysql+mysqlconnector://roster_monster_user:redhat@172.27.208.1:3306/roster_monster_db"
RAZORPAY_KEY_ID="rzp_test_9C4Lto17lH0VzL"
RAZORPAY_KEY_SECRET="AXUohjKjyc0v05rSQdoyUnAt"
